@(user: User, resources: List[Resource])

@main("Library of Awesomess") {
<p class="lead">Welcome (@user.getName)!</p>
<h1>Search Library</h1>
<script src='@routes.Assets.at("javascripts/index.js")'></script>

<form action="@routes.Application.searchResource()" method="post" class="form-inline">
    <div class="form-group">
        <label>Search resources</label>
        <input name="name"  class="form-control"></div>

    <input type="submit" class="btn btn-default">

</form>
<br><br><br>
<p>List of resources in library</p>
<div class="container">
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>Availability</th>
            <th>Manage</th>
        </tr>
        @for(res <- resources){

        <tr>
            <td>@res.getName BY @res.getAuthor</td>
            <td>@res.isAvailable</td>
            @if(res.isAvailable){
            <td><a href="@routes.Application.borrowResource(user.getId,res.getId)">Borrow</a></td>
            }else{
            <td><a href="@routes.Application.bookResource(user.getId,res.getId)">Book it</a></td>
            }

        </tr>
        }


    </table>
    <!--<ul id="stuff">routes.CategoryControl.deleteCategory(section.getId())</ul>-->
</div>
<ul id="stuff">
    }{
    <h1>menu</h1>
    <ul>
        <li><h3><a href="/">Home</a></h3></li>
        <li><h3><a href="/addSection">Manage Section</a></h3></li>
        <li><h3><a href="/addCategory">Manage Category</a></h3></li>
        <li><h3><a href="/addResource">Add Resource</a></h3></li>
    </ul>
    }
