@(title: String)(sidebar: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body class="container">
    <div class="center-block">
    <div class="row">
        <div class="col-sm-9">
            Awesomeness
            <div class="row">
                <div class="col-md-9 col-md-push-3">@sidebar</div>
                <div class="col-md-3 col-md-pull-9">@content</div>
            </div>
        </div>
    </div>
    </div>
    </body>
</html>
